<h1>Game Inventory</h1>



<div id="inventory">
  <table style="width:90%">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Stock Level</th>
      <th>Publisher</th>      
    </tr>
    <% for game in @games  %>
    <tr>
      <td><%= game.name %></td>
      <td><%= game.quantity %></td>
      <td><%= game.stock_level %></td>
      <td><%= game.publisher.name %></td>
    </tr>
    <% end%>
  </table>

</div>

