<!DOCTYPE html>
<html>
<head>
  <title>Final Boss</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="header">
  <nav>
    <ul>
    <li><a href="/games">Show All Games and Publishers</a></li>
    <li><a href="/games/new">Add a game</a></li>
    <li><a href="/home">Home</a></li>
    </ul>
  </nav>
</div>

  <%= yield %>
</body>
</html>