<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="/images/dogknight copy.png" />
  <title>Final Boss</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="header">
  <nav>
    <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/games">Inventory</a></li>
    <li><a href="/games/new">Add a game</a></li>
    <li><a href="/publishers/new">Add a Publisher</a></li>
    <li><a href="/publishers">View All Publishers</a></li>
    </ul>
  </nav>
</div>

  <%= yield %>
</body>
</html>