<h1>Add a game</h1>

<form action='/games' method='post'>
 <label>
   Name:
   <input type="text" name="name">
 </label>

 <label>
  Stock Level:
  <input type="text" name="stock_level">
</label>

<label>
  Quantity:
  <input type="number" name="quantity">
</label>



  <input type="submit" value="Add game">

</label>

</form>