<h1 id="form_head">Add a game</h1>

<div id="form">
<form action='/games' method='post'>
 <label>
   Name:
   <input type="text" name="name">
 </label>

<label>
  Quantity:
  <input type="number" name="quantity">
</label>

<label>
      Existing Publisher:
</label>
    <select name ="publisher_id">
    <% for publisher in @publishers %>
      <option value="<%= publisher.id %>"><%= publisher.name %></option>
    <% end %>
    </select>

<label>
    New Publisher:
    <input type="text" name="publisher">
</label>

</div>



  <input type="submit" value="Add game">

</label>

</form>

<div id="bottom_add"></div>

<!-- <img src="/images/dogknight.png" class="dogknight"/> -->


