<h1>Add a game</h1>

<form action='/games' method='post'>
 <label>
   Name:
   <input type="text" name="name">
 </label>

 <label>
  Stock Level:
  <input type="text" name="stock_level">
</label>

<label>
  Quantity:
  <input type="number" name="quantity">
</label>

<!-- <label>
  Publisher
  <select name="publisher_id">
    <option value="1">Gryffindor</option>    
    <option value="2">Slytherin</option>    
    <option value="3">Hufflepuff</option>    
    <option value="4">Ravenclaw</option>    
  </select> -->

  <input type="submit" value="Add game">

</label>

</form>