<div id="form_head">
<h1>Add a Game</h1>
</div>


<form action='/games' method='post' id ="form_add">
 <label>
 <p>
   Name
 </p> 
   <input type="text" name="name">
 </label>

<label>
  <p>
  Quantity
  </p>
  <input type="number" name="quantity">
</label>

<label>
  <p>
    Existing Publisher
  </p>
</label>
    <select name ="publisher_id" id="pub_label">
    <% for publisher in @publishers %>
      <option value="<%= publisher.id %>"><%= publisher.name %></option>
    <% end %>
    </select>



<div id="add_game">
  <input type="submit" value="Add game">

</label>

</form>
</div>

<!-- <img src="/images/dogknight.png" class="dogknight"/> -->


