<h1>Add a Publisher</h1>
</div>


<form action='/publishers' method='post' id ="form_add">
 <label>
 <p>
   Name
 </p> 
   <input type="text" name="name">
 </label>

<div id="add_publisher">
  <input type="submit" value="Add Publisher">

</label>

</form>