<h1>Publisher Index</h1>

<div id="publisher_list">
  <table style="width:80%">
  <tr>
  <th></th>
  </tr>
  <tr>
    <% for publisher in @publishers %>
  </tr>
  <td>
  <%= publisher.name %>
  </td>
<% end %>
</table>
</div>