<div id="main">
<img src="/images/finalboss1.png" class="finalboss"/>



<h1>Final Boss</h1>
<p>The ultimate game inventory management app.</p>
<p>It's probably the future.</p>
</div>

<div id="bottom">
  <p>version: vperpetual.beta.1.commit</p>
  <p>please report any bugs/problems to Crig Mortob @CodeClan</p>
  <p> </p>
  <p> </p>
</div>