<div id="main">
<img src="/images/finalboss1.png" class="finalboss"/>



<h1>Final Boss</h1>

<div id="text1">
  <p>The ultimate game inventory management app.</p>
</div>
<div id="text2">
  <p>It's probably the future...</p>
</div>
</div>

<div id="bottom">
  <p>version: Vperpetual.beta.1.commit</p>
  <p>Please report any bugs/problems to Crig Mortob @CodeClan</p>
  <p> </p>
  <p> </p>
</div>