
@font-face {
  font-family: 'Kenzo';
  src: url('/public/Kenzo_Regular.otf');
}

/*layout nav bar*/

#header {
  background-color: ivory;
  padding: 5px;
  margin: 0%;
}

#header li a {
  text-align: center;
  font-family: 'Kenzo';
  font-size: 20px;
}

#header li {
  display: inline;
  text-decoration: none;
  margin-right: 25px;
}


/*welcome page*/

body {
  background-color: #97D5E5;
  padding: 0%;
  margin: 0%;
}

#main {
  height: 500px;
  width: 800px;
}

#main h1 {
  font-family: 'Kenzo';
  color: ivory;
  font-size: 80px;
  padding: 15px;
  float: right;
}

#main .finalboss {
  width: 250px;
  height:320px;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#main p {
  color: #DFF2F7;
  font-size: 24px;
  font-family: Tahoma;
}

#bottom {
  background-color: ivory;
  padding: 10px;
}

#bottom p {
  color: #F6B447;
  font-size: 15px;
}


/*BDE4EE*/
/*orange F6B447*/