
@font-face {
  font-family: 'Kenzo';
  src: url('/public/Kenzo_Regular.otf');
}

/*layout nav bar*/

#header {
  background-color: ivory;
  padding: 5px;
  margin: 0%;
}

#header li a {
  font-family: 'Kenzo';
  font-size: 22px;
}

#header ul li a {
  float: right;
  margin-left: 35px;
  padding-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

#header li {
  display: inline;
  margin-right: 25px;
}


/*welcome page*/

body {
  background-color: #97D5E5;
  padding: 0%;
  margin: 0%;
  font-family: Tahoma;
}

#main {
  height: 500px;
  width: 800px;
}

#main h1 {
  font-family: 'Kenzo';
  color: ivory;
  font-size: 80px;
  padding: 15px;
  float: right;
  padding-top: 30px;
}

#main .finalboss {
  width: 250px;
  height:320px;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 0px;
  padding-bottom: 0px;
}


#main p {
  color: #DFF2F7;
  font-size: 24px;
  font-family: Tahoma;
}

#text1 p {
  position: relative;
  height: 40px;
  width: 200px;
  left: 480px;
  bottom: 240px;
}

#text2 p {
  position: relative;
  height:40px;
  width: 200px;
  left: 480px;
  bottom: 150px;
}

#bottom {
  background-color: ivory;
  padding: 10px;
}

#bottom p {
  color: #F6B447;
  font-size: 15px;
}


/*BDE4EE*/
/*orange F6B447*/


/*index CSS*/

h1 {
  font-family: 'Kenzo';
  color: ivory;
  font-size: 50px;
  padding-left: 20px;
}

#inventory {
  padding-left: 20px;
} 


#inventory th {
  font-family: 'Kenzo';
  color: ivory;
  font-size: 30px;
  border-bottom: solid ivory;
  border-top: solid #DFF2F7;
  padding-top: 2px;
}

#inventory tr {
  color: purple;
  margin: 7px 10px 10px 10px;
  font-size: 25px;
}

#inventory a {
  text-decoration: none;
  padding-right: 5px;
  color: purple;
  background-color: #BDE4EE;

}

/*GAME DETAILS CSS*/

#gamedetails p {
  font-family: Tahoma;
  color: purple;
  text-align: center;
}

#gamedetails h1 {
  text-align: center;
}

#gamedetails {
  border: solid 5px #BDE4EE;
  height: 300px;
  width: 560px;
  position: relative;
  left: 390px;
  top: 70px;
}

#delete {
  position: relative;
  left: 450px;
  top: 100px;
}

#edit_game {
  text-decoration: none;
  font-family: 'Kenzo';
  padding: 19px 40px;
  font-size: 25px;
  color: ivory;
  background-color: #BDE4EE;
  position: relative;
  left: 690px;
  top: 53px;
}

/*
ADD A GAME CSS*/

div#form {
  padding-bottom: 300px;
  background-color: ivory;
  height: 70px;
  width: 300px;
  position: relative;
  left: 500px;
  border: solid 5px #BDE4EE;
}
 
div#form_head {
  text-align: center;
}

div#form_head h1 {
  font-size: 55px;
}

input[type=text] {
  padding: 5px;
  position: relative;
  top: 5px;
}

input[type=number] {
  padding: 5px;
}

#form label {
  padding: 5px;
  position: relative;
  color : purple;
  position: relative;
  top: 30px;
}

input[type=submit] {
  background-color: #BDE4EE;
  border: none;
  font-family: 'Kenzo';
  padding: 20px 30px;
  font-size: 25px;
  color: ivory;
}


/*#bottom_add {
  background-color: ivory;
  padding: 100px;
}*/


